

/* --- Quicksearch CSS --- */ 

@font-face {
             font-family: Barking Cat DEMO; 
             src: url(font/barking-cat-demo/barking-cat-demo.otf); 

             font-family: Chewy; 
             src: url(font/chewy/chewy-regular.ttf); 

             font-family: Headstay; 
             src: url(font/headstay/headstay.ttf); 

             font-family: Montserrat
             src: url(font/montserrat/montserrat-variable-font_wght.ttf); 

             font-family: Pistara; 
             src: url(font/pistara/pistara.otf); 

             font-family: Roboto; 
             src: url(font/roboto/roboto-variablefont.ttf); 

             font-family: Soda Fountain; 
             src: url(font/soda-fountain/sodafountain-regular.otf); 

}







