

/* --- Quicksearch CSS --- */ 

@font-face {
             font-family: Barking Cat DEMO; 
             src: url("/fonts/barking-cat-demo/barking-cat-demo.otf"); 
}

@font-face {
             font-family: Soda Fountain; 
             src: url("/fonts/soda-fountain/sodafountain-inline.otf"); 
}

@font-face {
             font-family: Roboto; 
             src: url("/fonts/roboto/roboto-variablefont.ttf"); 
}


@font-face {
             font-family: Pistara; 
             src: url("/fonts/pistara/pistara.otf"); 
}


@font-face {
             font-family: Montserrat
             src: url("/fonts/montserrat/montserrat-variable-font_wght.ttf"); 
}


@font-face {
             font-family: Headstay; 
             src: url("/fonts/headstay/headstay-regular.ttf"); 
}


@font-face {
             font-family: Chewy; 
             src: url("/fonts/chewy/chewy-regular.ttf"); 
}










